.container {
    min-height: 80vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 {
    min-height: 80vh;
    padding: 0 0.5rem;
}

.header {
    text-align: center;
    margin: 3em auto;
}

.post {
    margin-bottom: 2em;

}

.post p {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1.15px;
}

.post > div {
    display: flex;
}

.btn {
    margin: 1em auto;
    cursor: pointer;
    padding: 4px 9px;
    font-size: 20px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
}

.main {
    margin-bottom: 2em;
    width: 100%;
    min-height: 70vh;
    text-align: left;
    gap: .5em;
}

.main > h1 {
    text-align: center;
    padding: .7em;
}

.main > div {
    padding: 10px 4px;
}

.main > div:hover h1 {
    text-decoration: underline;
}

.main > div h2 {
    padding: 2em 0;
    text-align: center;
}

.ques {
    border: 2px solid #fff;
    padding: 3px 12px;
    border-radius: 3px;
    width: 800px;

}

.ques:hover {
    border-color: #000;
}

@media screen and (max-width: 820px) {
    .ques {
        width: 100%;
    }
}

